# python
__pycache__/
*.pyc
*.pyd

# virtual environments
venv/
.venv/
env/

# env
.env

# logs
*.log

# .zip, .tar.gz, etc.
*.zip
*.tar.gz

# tests
*.tmp
*.temp

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db